.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.panel {
    background-color: #2b2b2b;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 5%;
}

.exitButton {
    margin-right: 25px;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}

.exitButton:hover {
    color: #ff7b00;
}

.currUser {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-right: 15px;
    margin-bottom: 1px;
}

.chat {
    background-color: rgb(255, 255, 255);
    width: 50vw;
    height: 95%;
    max-height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list {
    overflow-y: auto;
    width: 100%;
    max-width: 100%;
    height: 92%;
    max-height: 92%;
    padding: 15px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.list::-webkit-scrollbar {
    width: 8px;
}
  
.list::-webkit-scrollbar-track {
    background-color: none;
    border-radius: 100px;
}
    
.list::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    border-radius: 100px;
}

.enterBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 8%;
    background-color: #fff3ea;
    padding: 10px;
}

.textInput {
    resize: none;
    width: 96%;
    height: 95%;
    border-radius: 5px;
    border-width: 2px;
    padding: 4px 10px;
    border-color: rgb(190, 190, 190);
}

.textInput:hover {
    border-color: rgb(156, 156, 156);
}

.textInput:focus {
    border-color: rgb(104, 104, 104);
    outline: none;
    box-shadow: none;
}

.textInput::selection {
    color: inherit;
    background-color: rgb(201, 201, 201);
}

.textInput::-webkit-scrollbar {
    width: 4px;
}
  
.textInput::-webkit-scrollbar-track {
    background-color: none;
    border-radius: 100px;
}
    
.textInput::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    border-radius: 100px;
}

.sendButton {
    margin-left: 10px;
    margin-right: 0;
    color: rgb(66, 66, 66);
    font-size: 25px;
}

.sendButton:hover {
    color: #ff6f00;
}